header.header
  .container.h-100
    .row.align-items-center.justify-content-center.header-1
      .col-lg-12
        h1.text-center.m-4 Cinemania
    .row.align-items-center.justify-content-center
      .col-lg-12
        .navbar.navigation
          .container.justify-content-center
            ul.nav
              li.m-2.active
                a(href="#").Active movies
              li.m-2
                a(href="#") Cartoons
              li.m-2
                a(href="#") Watch episodes & tv shows
              li.m-2
                a(href="#") Schedule
              li.m-2
                a(href="#") Community
              li.m-2
                a(href="#") Mobile
              li.m-2
                a(href="#") Shop
