// layout
$layout-min-width: 1140px;
$layout-max-width: 1920px;
$header-height: 150px;
$footer-height: 100px;

// colors
$select-text-color: white;
$select-text-bg: black;
$color-orange: #e16e42;
$color-dark-brown: #232323;
$color-grey: #858a8e;
$color-bright-grey: #929395;
$color-sky-blue: #42b2da;
$color-salad: #88b417;
$color-coral: #ca594b;
$color-carrot: #db7042;
$color-green: #2d9439;
$color-blood: #911618;
$color-grape: #794f8e;

//fonts
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Patua+One");

$headerFont: 'Patua One', cursive;
$textFont: 'Slabo 27px', serif;
