@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Patua+One");
.btn, .btn:visited {
  padding: 11px 33px;
  font: 14px Arial, sans-serif;
  color: white;
  border: none;
  background: orange;
  outline: none !important;
  cursor: pointer;
  display: inline-block;
  position: relative; }
  .btn:hover, .btn:focus, .btn:visited:hover, .btn:visited:focus {
    background: #ffb733;
    color: white; }
  .btn:active, .btn:visited:active {
    background: #cc8400; }

.fa, .far {
  padding: 0.5em;
  font-size: 1em;
  width: 2em;
  text-align: center;
  text-decoration: none;
  border-radius: 10%; }
  .fa .fa-facebook-f, .far .fa-facebook-f {
    background: #3B5998;
    color: white; }
    .fa .fa-facebook-f ~ *, .far .fa-facebook-f ~ * {
      color: #3B5998; }
  .fa .fa-twitter, .far .fa-twitter {
    background: #55ACEE;
    color: white; }
    .fa .fa-twitter ~ *, .far .fa-twitter ~ * {
      color: #55ACEE; }

.current-movie {
  height: auto;
  padding: 0;
  margin: 0;
  max-width: 100%; }
  .current-movie__background {
    height: 980px;
    margin: 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden; }
    .current-movie__background::after, .current-movie__background::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
    .current-movie__background::after {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0) 80%); }
    .current-movie__background::before {
      background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0) 80%); }
  .current-movie__info {
    z-index: 101;
    position: absolute;
    top: 150px; }
  .current-movie__definition-label {
    border: 2px solid white;
    border-radius: 2px;
    padding: 2px 4px;
    color: white; }
  .current-movie__name {
    display: flex;
    flex-direction: column; }
    .current-movie__name-header {
      color: white;
      font-size: 5em;
      line-height: .85em;
      font-family: "Patua One", cursive; }

.current-movie__breadcrumb * {
  z-index: 102; }

.current-movie__breadcrumb .breadcrumb {
  background: none;
  padding: 0; }

.breadcrumb-item {
  color: #858a8e; }
  .breadcrumb-item .active {
    color: #929395; }

.current-movie__breadcrumb-overlay {
  height: 70px;
  background: black;
  opacity: .4;
  margin-top: -1px; }

.current-movie__attributes-list {
  color: #e16e42; }
  .current-movie__attributes-list .current-movie__attributes-item {
    display: inline; }
    .current-movie__attributes-list .current-movie__attributes-item::before {
      content: '\00a0\2022\00a0\00a0'; }
    .current-movie__attributes-list .current-movie__attributes-item:first-child::before {
      content: ''; }
    .current-movie__attributes-list .current-movie__attributes-item:not(:first-child) {
      margin-left: 5px; }

.current-movie__name-underline {
  border-bottom: 5px solid white;
  width: 3em; }

.current-movie__description-text {
  color: #929395;
  font-family: "Slabo 27px", serif;
  font-size: 1.2em; }

.current-movie__actions .btn:first-child {
  margin-right: 10px; }

.btn-play-movie {
  background: linear-gradient(to top, #143b4b 0%, #237799 100%) !important;
  border: none !important; }

.btn-watch-trailer {
  background: linear-gradient(to top, #5a5b5c 0%, #8c8d8f 100%) !important;
  border: none !important; }

.current-movie__social-media-item {
  margin: 10px 0; }

.current-movie__social-media-text {
  color: white; }

.current-movie__statistics {
  padding-left: 30px; }
  .current-movie__statistics .container {
    border-radius: 2px; }

.current-movie__statistics-row-1 {
  height: 300px; }
  .current-movie__statistics-row-1 .fa, .current-movie__statistics-row-1 .far {
    font-size: 4em;
    color: white; }

.current-movie__cast .container {
  background: #42b2da;
  color: white;
  padding: 20px; }
  .current-movie__cast .container .current-movie__cast-header {
    font-size: 2em;
    font-family: "Patua One", cursive;
    line-height: .8em; }
  .current-movie__cast .container .current-movie__cast-header-underline {
    border-bottom: 4px solid white;
    width: 3em;
    margin: 1.2em 0; }
  .current-movie__cast .container .current-movie__cast-description {
    font-family: "Slabo 27px", serif;
    font-size: 1em; }

.current-movie__cast-photos .container {
  background: white; }

.current-movie__views .container {
  background: #88b417;
  text-align: center;
  color: white; }

.current-movie__likes .container {
  background: #ca594b;
  text-align: center;
  color: white; }

.current-movie__comments .container {
  background: #db7042;
  text-align: center;
  color: white; }

.current-movie__views-count,
.current-movie__likes-count,
.current-movie__comments-count {
  font-size: 3em;
  font-family: "Patua One", cursive; }

.current-movie__views-label,
.current-movie__likes-label,
.current-movie__comments-label {
  font-size: 1.4em;
  text-transform: uppercase;
  font-family: "Patua One", cursive; }

.current-movie__statistics-row-2 {
  height: 150px;
  margin-top: 2rem; }
  .current-movie__statistics-row-2 .row,
  .current-movie__statistics-row-2 .current-movie__wins,
  .current-movie__statistics-row-2 .current-movie__nominations,
  .current-movie__statistics-row-2 .current-movie__synopsis {
    height: 100%; }
    .current-movie__statistics-row-2 .row .container,
    .current-movie__statistics-row-2 .current-movie__wins .container,
    .current-movie__statistics-row-2 .current-movie__nominations .container,
    .current-movie__statistics-row-2 .current-movie__synopsis .container {
      height: 100%; }

.current-movie__wins .container {
  background: #2d9439;
  color: white;
  text-align: center; }

.current-movie__nominations .container {
  background: #911618;
  color: white;
  text-align: center; }

.current-movie__synopsis .container {
  background: #794f8e;
  color: white;
  text-align: center; }

.current-movie__synopsis-header {
  padding-top: 0.5em;
  font-size: 1.8em;
  text-transform: uppercase;
  font-family: "Patua One", cursive; }

.current-movie__synopsis-underline {
  border-bottom: 4px solid white;
  width: 3em;
  margin: 1.2em 0; }

.current-movie__synopsis-description {
  color: #929395;
  background: #232323;
  padding: 20px; }

.current-movie__wins-count,
.current-movie__nominations-count {
  font-size: 4em;
  font-family: "Patua One", cursive; }

.current-movie__wins-label,
.current-movie__nominations-label {
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "Patua One", cursive; }
